<div class="container">
  <h2><%= @event.name %></h2>

  <div class="action">
    <% if current_user == @event.creator %>
      <%= link_to 'Edit', edit_event_path %>
      <%= link_to 'Delete', event_path, data: { turbo_method: :delete } %>
    <% elsif @event.include?(current_user) %>
      <%= link_to 'Cancel RSVP', cancel_rsvp_event_path %>
    <% else %>
      <%= link_to 'RSVP', rsvp_event_path unless @event.date < Date.now %>
    <% end %>
  </div>
  
  <div>
    <p>Hosted By:</p>
    <p><%= @event.creator.name %></p>
  </div>
  
  <div>
    <p>Date:</p>
    <p><%= @event.date %></p>
  </div>
  
  <div>
    <p>Location:</p>
    <p><%= @event.location %></p>
  </div>

  <div>
    <p><%= @event.description %></p>
  </div>

</div>